<div class="container mt-5">
    <h1>Simulador de investimentos</h1>
    <p>Conheça o simulador de investimentos da B3. Veja quanto seu dinheiro pode render ao simular investimentos de tesouro direto, CDB e LC, LCI e LCA em relação a poupança.</p>
</div>
<div class="simulator-container mt-5">
    <div class="simulator">
        <form [formGroup]="form">
            <div class="simulator-controls">
                <div class="simulator-controls-item">
                    <div class="simulator-values">
                        <h3 class="title">Para começar, qual valor você gostaria de investir?</h3>
                        <span class="value">
                            <span>R$&nbsp;</span>
                            <input class="form-control-text money-input" id="initialValuecd" 
                                formControlName="value" 
                                mask="separator.2" 
                                thousandSeparator="."
                                separatorLimit="100000000" 
                                [allowNegativeNumbers]="false"
                                (change)="calculateCDB()">
                        </span>
                    </div>
                    <div class="simulator-buttons">
                        <button class="greg-button"  type="button" id="button_rmv_initialcd" (click)="removeMoney()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><rect class="svg" width="14" height="2" x="5" y="11" fill="#ffffff" fill-rule="evenodd" rx="1"></rect></svg>
                        </button>
                        <button class="greg-button"  type="button" id="button_add_initialcd" (click)="addMoney()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path class="svg" fill="#ffffff" fill-rule="evenodd" d="M13 11h5a1 1 0 0 1 0 2h-5v5a1 1 0 0 1-2 0v-5H6a1 1 0 0 1 0-2h5V6a1 1 0 0 1 2 0v5z"></path></svg>
                        </button>
                    </div>
                </div>
                <div class="simulator-controls-item simulator-controls-item-vertical">
                    <div class="simulator-values">
                        <h3 class="title">Quanto tempo deixaria seu dinheiro investido?</h3>
                        <span class="value">{{form.value.month  > 1 ? form.value.month + '  Meses' : form.value.month + '  Mês' }}</span>
                    </div>
                    <div class="simulator-range">
                        <input class="form-range range" type="range" formControlName="month" min="1" max="360" step="1" id="cd" (change)="calculateCDB()">
                    </div>
                </div>
            </div>
        </form>
        <div class="simulator-results">
            <div class="simulador-results-main">
                <h4 class="result-heading">Em {{form.value.month  > 1 ? form.value.month + '  Meses' : form.value.month + '  Mês' }} você teria</h4>
                <span class="result-value">R$ <span class="form-control__text" id="totalcd">{{investment?.valorBruto | currency:'BRL':'':'1.2-2':'pt'}}</span></span>
            </div>
            <div class="simulator-result-row">Valor líquido com os impostos descontados</div>
            <div class="simulator-result-row">Total investido: R$ {{investment?.valorLiquido | currency:'BRL':'':'1.2-2':'pt'}}</div>
        </div>
    </div>
</div>